# don't ever lint node_modules
node_modules
yarn-error.log
yarn.lock
# don't lint build output (make sure it's set to your correct build folder name)
.cache
public
# don't lint nyc coverage output
coverage
# misc
.vscode